<p id="notice"><%= notice %></p>

<p>
  <strong>Full name:</strong>
  <%= @submission.full_name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @submission.email %>
</p>

<p>
  <strong>Project repo:</strong>
  <%= @submission.project_repo %>
</p>

<p>
  <strong>Project url:</strong>
  <%= @submission.project_url %>
</p>

<p>
  <strong>Oop best practices:</strong>
  <%= @submission.oop_best_practices %>
</p>

<p>
  <strong>Modular dev:</strong>
  <%= @submission.modular_dev %>
</p>

<p>
  <strong>Workflow understanding:</strong>
  <%= @submission.workflow_understanding %>
</p>

<p>
  <strong>Testing:</strong>
  <%= @submission.testing %>
</p>

<p>
  <strong>Database knowledge:</strong>
  <%= @submission.database_knowledge %>
</p>

<p>
  <strong>Debugging:</strong>
  <%= @submission.debugging %>
</p>

<p>
  <strong>Problem solving:</strong>
  <%= @submission.problem_solving %>
</p>

<p>
  <strong>Javascript:</strong>
  <%= @submission.javascript %>
</p>

<p>
  <strong>Html:</strong>
  <%= @submission.html %>
</p>

<p>
  <strong>Css:</strong>
  <%= @submission.css %>
</p>

<p>
  <strong>Teamwork:</strong>
  <%= @submission.teamwork %>
</p>

<p>
  <strong>Self motivation:</strong>
  <%= @submission.self_motivation %>
</p>

<p>
  <strong>Communication skils:</strong>
  <%= @submission.communication_skils %>
</p>

<p>
  <strong>Energy level:</strong>
  <%= @submission.energy_level %>
</p>

<p>
  <strong>Intelligence:</strong>
  <%= @submission.intelligence %>
</p>

<%= link_to 'Edit', edit_submission_path(@submission) %> |
<%= link_to 'Back', submissions_path %>
